In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score,recall_score,precision_score

import warnings
warnings.filterwarnings("ignore")

from acquire import get_telco_data
from prepare import prep_telco_data

In [8]:
# Cleaned Data for Exploration
train, validate, test = prepare.prep_telco_data(get_telco_data(cached = True))

In [11]:
train.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,month_to_month_contract,one_year_contract,two_year_contract,internet_service
5670,Male,0,0,1,5,1,No,No internet service,No internet service,No internet service,...,20.35,122.00,0,Month-to-month,None,Credit card (automatic),1,0,0,0
4152,Female,0,0,0,6,1,No,No,No,Yes,...,89.25,487.05,0,Month-to-month,Fiber optic,Electronic check,1,0,0,1
4890,Male,0,0,0,54,1,No,Yes,No,Yes,...,84.40,4484.05,0,One year,Fiber optic,Electronic check,0,1,0,1
2391,Female,0,1,0,72,1,Yes,Yes,Yes,No,...,64.75,4804.75,0,Two year,DSL,Bank transfer (automatic),0,0,1,1
2896,Male,0,1,0,28,1,No,No,No,No,...,76.55,2065.40,0,Month-to-month,Fiber optic,Bank transfer (automatic),1,0,0,1